*{
    font-family: 'Ubuntu', sans-serif;
}
.landing-container{
    background-color: #FEEADE;
    height:30vh;
    margin: 0px;
}

.choices-container{
    background-color: white;
    height:55vh;
}

.utilities{
    background-color:#FEEADE;
    padding-top: 20px;
    padding-bottom: 30px;
    justify-content: center;
}

.pe-5{
    padding-left: ($spacer * 3.5) !important;
}