*{
    font-family: 'Ubuntu', sans-serif;
}
.landing-container{
    background-color: #FEEADE;
    height:25vh;
    margin: 0px;
}

.choices-container{
    background-color: white;
    height:55vh;
    margin: 0px;
}

.cat{
    float:right;
}

.post-container {  
    background-color: white;
    overflow: auto
}
.post-thumb {
    float: right;
}

.post-content {
    margin-top:210px;
    margin-left:210px;
    float:left;
    justify-content: center;
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

.adopt-btn{
    border-radius:20px;
    margin-left:60px;
    width:150px;
    background: rgb(250,99,99);
background: linear-gradient(90deg, rgba(250,99,99,1) 0%, rgba(238,165,62,1) 100%);
    border:none;
}


.spacing{
    background:#FEEADE;
    height:3vh;
    color:#FEEADE;
}
.utilities{
    background-color:#FEEADE;
}

.paragraph{
    margin-left:200px;
    margin-right:200px;
}
