.list-item{
     text-decoration: none;
     margin-top:0px;
     display:flex;
     font-family: 'Ubuntu', sans-serif; 
}

.side-bar{
     height:100vh;
     width:250px;
     background-color:#938383;

}