.search-box{
    height: 30px;
    margin-top: 20px;
    transform: translateY(20px);
    background-color: white;
    display:flex;
    justify-content:center;
    font-size:15px;
    max-width:300px;
    color:black;
}

.pet-container{
    flex-direction: row;
    flex-wrap:nowrap;
    height: 100vh;
    overflow:auto;
    justify-content: center;
    margin-top:10px;
    background-color: transparent;
    border:none;

}
